:root {
  --primary: rgba(112, 64, 9, 1);
  --secondary: rgba(198, 162, 17, 1);
  --other: rgba(22, 90, 9, 1);
  --bg: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #101010;
  color: #101010;
  scroll-behavior: smooth;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 7%;
  background-color: rgba(198, 162, 17, 0.9);
  border-bottom: 1px solid #101010;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .hamburger .logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--other);
  font-style: italic;
  margin: 0 0 0 10px;
}

.navbar .hamburger .logo span {
  color: var(--primary);
}

.navbar .navigation a {
  color: #101010;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
  transition: 0.3s;
}

.navbar .navigation a:hover {
  color: var(--bg);
}

.navbar .navigation a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #101010;
  transform: scaleX(0);
  transition: 0.3s linear;
}

.navbar .navigation a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navigation .icon {
  display: none;
}

.navbar .telephone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .telephone a {
  color: #101010;
  padding-left: 0.5rem;
  font-size: small;
  text-decoration: underline;
}

.navbar .telephone a:hover {
  text-decoration: none;
}

.navbar .telephone .btn {
  transition: transform 0.3s ease 0s;
}

.navbar .telephone .btn:hover,
.wa:hover {
  transform: translateY(-5px);
}

#hamburger-menu {
  display: none;
}

/* Hero Section  */
.herosection {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid #101010;
  position: relative;
}

.herosection::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1, 1, 3, 0.8) 20%, rgba(255, 255, 255, 0) 50%);
}

.herosection .main {
  padding: 1.4rem 7%;
  text-align: center;
  align-items: center;
}

.herosection .main h1 {
  font-size: 5em;
  color: var(--bg);
  text-shadow: 1px 3px 1px rgba(1, 1, 3, 0.8);
  line-height: 1.1;
  letter-spacing: 2px;
}

.herosection .main .cta {
  margin-top: 1.5rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #101010;
  background-color: var(--secondary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.8);
  transition: 0.3s ease-in-out;
  letter-spacing: 3px;
}

.herosection .main .cta:hover {
  background-color: var(--primary);
  color: var(--bg);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.8);
}

/* menu section  */
.menu,
.contact {
  padding: 5rem 7% 1.4rem;
  background-color: #101010;
  color: var(--bg);
}

.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.menu h2 span,
.contact h2 span {
  color: var(--secondary);
}

.menu .menu-description,
.contact p {
  text-align: center;
  line-height: 1.5;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
}

.menu .makanan .category {
  margin: 1.6rem auto 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
  color: var(--bg);
  background: linear-gradient(to right, rgba(112, 64, 9, 1), rgba(198, 162, 17, 1));
  border-radius: 2rem;
  letter-spacing: 3px;
}

.menu .minuman .category-2 {
  margin: 1.6rem auto 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
  color: var(--bg);
  background: linear-gradient(to right, rgba(198, 162, 17, 1), rgba(112, 64, 9, 1));
  border-radius: 2rem;
  letter-spacing: 3px;
}

.menu .makanan #container,
.menu .minuman #container-2 {
  width: 1280px;
  max-width: 100%;
  overflow: auto;
  margin: 1.4rem auto 1rem;
  scroll-behavior: smooth;
  scroll-snap-type: both;
}

.menu .makanan #container::-webkit-scrollbar,
.menu .minuman #container-2::-webkit-scrollbar {
  display: none;
}

.menu .makanan #list,
.menu .minuman #list {
  display: flex;
  width: max-content;
}

.menu .makanan #container .card,
.menu .minuman #container-2 .card-2 {
  border-radius: 1.6rem;
  background-image: linear-gradient(to top, gray, black, gray);
  overflow: hidden;
  transition: 0.5s;
  margin: 1rem;
  scroll-snap-align: start;
}

.menu .makanan #container .card .card-image,
.menu .minuman #container-2 .card-2 .card-image {
  display: block;
  margin: 3rem auto 1rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--bg);
  box-shadow: 0 10px 15px #7e7e7e;
}

.menu .makanan #container .card .card-content,
.menu .minuman #container-2 .card-2 .card-content {
  padding: 1.6rem;
  font-size: 1.6rem;
}

.menu .makanan #container .card .card-content h4,
.menu .minuman #container-2 .card-2 .card-content h4 {
  text-align: center;
  border-bottom: 1px solid #aeaeae;
  padding: 1rem 0;
  font-weight: 100;
}

.menu .makanan #container .card .card-content p,
.menu .minuman #container-2 .card-2 .card-content p {
  margin: 1.6rem auto 0;
  padding: 0.8rem;
  text-align: center;
  background-color: var(--secondary);
  color: #101010;
  border-radius: 1.2rem;
  font-weight: bold;
}

.menu .makanan .direction,
.menu .minuman .direction {
  text-align: center;
}

.menu .makanan .direction button,
.menu .minuman .direction button {
  background-color: #aeaeae;
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: 0.5s;
  margin: 0 1rem;
  cursor: pointer;
}

.menu .makanan .direction button:hover,
.menu .minuman .direction button:hover {
  background-color: var(--bg);
}

/* contact section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
  flex-wrap: wrap;
}

.contact .row .maps {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 2rem 2rem;
  text-align: center;
}

.contact .row form .input {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: #101010;
  border: 1 solid #eee;
  padding-left: 2rem;
}

.contact .row form .input input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: var(--bg);
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #101010;
  background-color: var(--secondary);
  cursor: pointer;
}

/* whatsapp floating button */
.wa {
  position: fixed;
  width: 4rem;
  height: 4rem;
  bottom: 3rem;
  right: 3rem;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  transition: transform 0.3s ease 0s;
  z-index: 50;
}

/* footer  */
footer {
  background-color: var(--secondary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socialfooter {
  padding: 1rem 0;
}

footer .socialfooter a {
  color: var(--bg);
  margin: 1rem;
  transition: 0.3s ease-in-out;
}

footer .socialfooter a:hover,
footer .mylinks a:hover,
footer .mycredit a:hover {
  color: #101010;
}

footer .mylinks {
  margin-bottom: 1rem;
}

footer .mylinks a {
  color: var(--bg);
  padding: 0.7rem 1rem;
  transition: 0.3s ease-in-out;
}

footer .mycredit {
  font-size: 1.2rem;
  color: var(--bg);
}

footer .mycredit span {
  color: #ff0000;
}

footer .mycredit a {
  color: #101010;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

/* ==========+responsive media+========== */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  .menu .makanan #container .card,
  .menu .minuman #container-2 .card-2 {
    width: calc(33vw - 20px);
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .hamburger .logo {
    margin: 0 0 0 1.2rem;
    font-size: 2.5rem;
  }

  .navbar .navigation {
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: var(--primary);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navigation.active {
    left: 0;
  }

  .navbar .navigation a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    transition: 0.3s;
  }

  .navbar .navigation a::after {
    transform-origin: 0;
    border-bottom: 0.1rem solid var(--bg);
  }

  .navbar .navigation a:hover::after {
    transform: scaleX(0.2);
    color: var(--bg);
  }

  .navbar .navigation a:hover {
    color: var(--secondary);
  }

  .navbar .navigation .icon {
    position: fixed;
    display: flex;
    bottom: 0;
  }

  .navbar .navigation .icon a {
    padding: 0 0 1.5rem 0;
  }

  .navbar .navigation .icon a,
  .navbar .navigation .icon a:hover,
  .navbar .navigation .icon a::after,
  .navbar .navigation .icon a:hover::after {
    border-bottom: none;
  }

  .menu .makanan #container .card,
  .menu .minuman #container-2 .card-2 {
    width: calc(50vw - 20px);
  }

  .menu .makanan .direction,
  .menu .minuman .direction {
    display: none;
  }

  .wa {
    width: 5rem;
    height: 5rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .maps {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

/* handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .hamburger .logo {
    margin: 0 0 0 1.2rem;
    font-size: 2.5rem;
  }

  .navbar .navigation {
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: var(--primary);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navigation.active {
    left: 0;
  }

  .navbar .navigation a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.3rem;
    transition: 0.3s;
  }

  .navbar .navigation a::after {
    transform-origin: 0;
    border-bottom: 0.1rem solid var(--bg);
  }

  .navbar .navigation a:hover::after {
    transform: scaleX(0.1);
    color: var(--bg);
  }

  .navbar .navigation a:hover {
    color: var(--secondary);
  }

  .navbar .navigation .icon {
    position: fixed;
    display: flex;
    bottom: 0;
  }

  .navbar .navigation .icon a {
    padding: 0 0 1.5rem 0;
  }

  .navbar .navigation .icon a,
  .navbar .navigation .icon a:hover,
  .navbar .navigation .icon a::after,
  .navbar .navigation .icon a:hover::after {
    border-bottom: none;
  }

  .menu .makanan #container .card,
  .menu .minuman #container-2 .card-2 {
    width: calc(67vw - 20px);
  }

  .menu .makanan .direction,
  .menu .minuman .direction {
    display: none;
  }

  .wa {
    width: 5rem;
    height: 5rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .maps {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}
